<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
@{
    bool IsLoaded = ViewBag.Char.Count > 0;
    if(IsLoaded)
    {
        <h1>@ViewBag.Char["name"]</h1>
        <hr>    
        <h3><strong>Height: </strong>@ViewBag.Char["height"]</h3>
        <h3><strong>Weight: </strong>@ViewBag.Char["mass"]</h3>
        <h3><strong>Birth Year: </strong>@ViewBag.Char["birth_year"]</h3>
    }
    else
    {
        <h2>WHoooopS!</h2>
    }
}


    
</body>
</html>
